html {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #2a4127;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: #15100c;
    text-decoration: none;
}

a:visited {
    color: #2a4127;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    font-style: italic;
    font-family: serif;
    border-left: solid 3px #DDD;
    color: #15100c;
    margin-left: 0;
    padding: 0.25rem;
    padding-left: 1rem;
}

hr {
    border: none;
    border-bottom: solid 1px #666;
}

.hero {
    padding: 0 1rem;
    background-image: url('/static/img/poppy2.jpg');
    background-size: cover;
    background-position: 50% 40%;
    color: white;
    text-shadow: 2px 2px 8px black;
    font-weight: bold;
    vertical-align: top;
}

.heroNoImage {
    padding: 0 1rem;
    color: #15100c;
    font-weight: bold;
    vertical-align: top;
}
.hero h1 {
    font-size: 4rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.hero h3 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
}

.hero a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.header, .content, .stuff {
    padding: 1rem;
    color: #15100C
}

.content img {
    max-width: 400px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
}

.contentNoImages img {
    display: block;
    width: 40%;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
    margin-left: auto;
    margin-right: auto;     
}

.stuff {
    float: right;
    height: 100%;
    width: 18rem;
    max-width: 90%;
    margin: 1rem;
    border: solid 1px silver;
}

menu>li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    text-indent: 0;
}

menu span {
    padding: 0 1rem;
}

menu {
    padding: 0;
    margin: 0;
    text-indent: 0;
    font-weight: bold;
}

menu menu {
    font-size: 12px;
}

.page-preview {
    width: 15rem;
    height: 15rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.page-preview:after {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(255,255,255,1.0), rgba(255,255,255,0));
    height: 2rem;
    content: '';
    z-index: 1;
}

.tiny {
    font-size: 75%;
}

.code {
    background-color: black;
    color: silver;
    width: 80em;
    height: 25em;
    overflow: auto;
    font-size: 8px;
    padding: 2px;
    border: solid 1px silver;
}
