{%- include "include/macros.html" -%}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ settings.sitename }}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <meta charset="utf-8"/>
    </head>
    <body>
        <section class="heroNoImage">
            <h1><a href="/">{{ settings.sitename }}</a></h1>
            <h3>{{ settings.byline }}</h3>
        </section>
        <section class="header">
            <section class="menu">
            {{ renderMenu({"sub":menu}) }}
            </section>
        </section>
        <section class="content">
        {% block content %}
        {% endblock %}
        </section>
    
     <p class="meta tiny">
        Produced with Sprinkles on {{ datetime.date.today }}.
    </p>
    </body>
</html>

