{%- extends 'masterNoImageTemplate.html' -%}

{%- block title %}
     {{ pageTitle(postVar) }}
{% endblock -%}

{%- block content %}
    <h1>{{ pageTitle(postVar) }}</h1>
     <p>  style="width:auto,height:1000px;" height value has no  </p>
      <img src="/../../images/DSC02769.JPG" alt="HTML5 Icon /../../images/DSC02769.JPG" style="width:auto,height:1000px;"> 
    {{ removePageHeading(postVar) }}
    <hr>
    <p>	Keywords: {{ postVar.meta.keywords }}  </p>
    <p> Abstract: {{ postVar.meta.abstract }} </p>
    <p> Date: {{ postVar.meta.date }} </p>
    
     <p class="meta tiny">
        {{ post.props.mtimeUTC|date('%x') }} file {{ postVar.props.name }} with postTemplate.html NoImage
    </p>
{% endblock -%}
